<h2>Fill the below data: </h2>
<p>
  <mat-form-field appearance="fill">
    <mat-label>State</mat-label>
    <mat-select [(value)]="selectedState">
      <mat-option *ngFor="let state of states" [value]="state.name">
        {{state.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <span>Selected state:{{selectedState}}</span>
</p>
<p>
  <mat-form-field appearance="fill">
    <mat-label>Vendor</mat-label>
    <mat-select [(value)]="selectedVendor">
      <mat-option *ngFor="let vendor of vendors" [value]="vendor.name">
        {{vendor.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <span>Selected vendor: {{selectedVendor}}</span>
  
</p>
<p>
  <mat-form-field appearance="fill">
    <mat-label>Order Number(s)</mat-label>
    <textarea matInput placeholder="Textarea" [formControl]="orderNumberFC" (change)="onTextChange()" rows="4"
      cols="50"></textarea>
    <mat-error *ngIf="orderNumberFC.hasError('required')">
      Comment is required.
    </mat-error>
    <mat-error *ngIf="orderNumberFC.hasError('pattern')">
      Only allow number(s).
    </mat-error>
  </mat-form-field>
</p>
<div class="button">
  <button mat-raised-button color="primary">Process</button>
</div>